[submodule "external/Eigen"]
	path = external/Eigen
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "external/qpOASES"]
	path = external/qpOASES
	url = https://github.com/startcode/qp-oases
